<div id="cypress-snapshot-verify-modal">
  <header>
    <div id="test-path">Verify Screenshot</div>
    <div id="close-btn" onclick="closeSnapshotDialog()">
      <span>&#10006;</span>
      <span>Close</span>
    </div>
  </header>
  <div id="content">
    <div id="test-diff">
      <header id="diff">
        <span>Difference:</span>
        <span id="diff-percentage">0</span>
        <div id="test-status-badge">Failed</div>
      </header>
      <div id="snapshots">
        <div id="expected">
          <header>Expected <span class="snapshot-dimensions"></span></header>
          <img id="expected-snapshot" src="" />
        </div>
        <div id="actual">
          <header>Actual <span class="snapshot-dimensions"></span></header>
          <img id="actual-snapshot" src="" />
        </div>
      </div>
    </div>
    <div id="actions">
      <button id="ignore" onclick="closeSnapshotDialog()">Ignore</button>
      <button id="update" onclick="updateBaseSnapshot()">Update</button>
    </div>
  </div>
</div>
