#cypress-snapshot-verify-modal-root {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  min-width: 100vw;
  z-index: 99;
  margin: 0;
  padding: 0;
  pointer-events: none;
  visibility: hidden;

  --failure: #dd2c4d;
  --bg: #e7e7e7;
  --header-bg: #b9b9b9;
  --border: #848484;
  --highlight: #f5f5f5;
  --cypress-black: #1b1e2e;
  --secondary: #797a9e;
  --success: #419d78;
}

#cypress-snapshot-verify-modal {
  max-height: 75vh;
  max-width: 75vw;
  z-index: 100;
  background: var(--bg);
  border-radius: 5px;
  border: 2px solid var(--border);
  overflow: hidden;
  font-family: 'Fira Code', 'Fira Mono', monospace;
  box-shadow: 0px 15px 24px -8px rgba(27, 30, 46, 0.85);
  -webkit-box-shadow: 0px 15px 24px -8px rgba(27, 30, 46, 0.85);
  pointer-events: all;
}

#cypress-snapshot-verify-modal > header {
  width: 100%;
  height: 80px;
  font-size: 1.25rem;
  font-weight: 600;
  background: var(--cypress-black);
  color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
}

#content header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

#cypress-snapshot-verify-modal > header #close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--bg);
  font-weight: 500;
  font-size: 1em;
  gap: 3px;
}

#test-path span:not(:first-child):before {
  content: '\203A';
  padding: 0 0.25rem;
}

#test-path span:not(:last-child) {
  color: rgba(255, 255, 255, 0.35);
}

#cypress-snapshot-verify-modal #content {
  height: calc(100% - 80px);
  display: flex;
  flex-flow: column;
  padding: 15px;
  gap: 15px;
  border-top: 2px solid var(--border);
}

#cypress-snapshot-verify-modal #content #diff {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 2px;
}

#cypress-snapshot-verify-modal #content #diff span:first-child {
  font-weight: 700;
}

#diff-percentage {
  margin: 0 5px 0 3px;
}

#cypress-snapshot-verify-modal #content #diff-percentage:after {
  content: '%';
}

#test-status-badge {
  font-size: small;
  font-weight: 700;
  padding: 2px 1px;
  border: 2px solid var(--failure);
  color: var(--failure);
  text-transform: uppercase;
  border-radius: 4px;
}

#test-status-badge.success {
  border-color: var(--success);
  color: var(--success);
}

#cypress-snapshot-verify-modal #content #snapshots {
  display: flex;
  gap: 15px;
}

#cypress-snapshot-verify-modal #content #snapshots #actual,
#expected {
  margin: 0 auto;
  height: 100%;
}

span.snapshot-dimensions {
  font-weight: 300;
  overflow: auto;
}

span.snapshot-dimensions::before {
  content: '(';
}

span.snapshot-dimensions::after {
  content: ')';
}

#cypress-snapshot-verify-modal #test-diff.parse-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

#test-diff.parse-error > h2 {
  font-weight: 700;
}

#cypress-snapshot-verify-modal #actions {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

#cypress-snapshot-verify-modal #actions button {
  border: 3px var(--cypress-black) solid;
  border-radius: 4px;
  line-height: 2.5;
  padding: 0 20px;
  font-weight: 700;
}

#cypress-snapshot-verify-modal #actions button#ignore {
  background: var(--bg);
  color: var(--cypress-black);
}

#cypress-snapshot-verify-modal #actions button#ignore:disabled {
  cursor: default;
  color: var(--secondary);
  border-color: var(--secondary);
}

#cypress-snapshot-verify-modal #actions button#update {
  background: var(--success);
  border-color: var(--success);
  color: var(--highlight);
}

#cypress-snapshot-verify-modal #actions button#update:disabled {
  cursor: default;
  background: var(--bg);
  border-color: var(--secondary);
  color: var(--secondary);
}
